In [1]:
import duckdb
import pandas as pd

In [2]:
sql_query ='''
show tables
'''
with duckdb.connect('Data/nyc_parking_violations.db') as con: display(con.sql(sql_query).df())

                                 name
0           bronze_parking_vaiolation
1     bronze_parking_vaiolation_codes
2            bronze_parking_violation
3      bronze_parking_violation_codes
4                         first_model
5                 gold_ticket_metrics
6               gold_vehicles_metrics
7              parking_violation_2023
8             parking_violation_codes
9                          ref_models
10      silver_parking_violation_code
11   silver_parking_violation_tickets
12  silver_parking_violation_vehicles
13          silver_parking_violations

In [22]:
sql_query ='''
show tables'''
with duckdb.connect('Data/prod_nyc_parking_violations.db') as con: display(con.sql(sql_query).df())

                      name
0   parking_violation_2023
1  parking_violation_codes

In [74]:
import os
display(os.listdir())

['data',
 '.git',
 'logs',
 'dof_parking_violation_codes.csv',
 'run_sql)_queries.ipynb',
 'Data',
 'python 3',
 'README.md',
 'parking_violations_issued_fiscal_year_2023_sample.csv',
 'nyc_parking_violations']

In [3]:
sql_query_import_1 = '''
CREATE OR REPLACE TABLE parking_violation_codes AS 
SELECT * 
FROM read_csv_auto(
'dof_parking_violation_codes.csv',normalize_names=True)
'''

sql_query_import_2 = '''
CREATE OR REPLACE TABLE parking_violation_2023 AS 
SELECT * 
FROM read_csv_auto(
'parking_violations_issued_fiscal_year_2023_sample.csv',normalize_names=True)
'''

In [4]:
with duckdb.connect('Data/prod_nyc_parking_violations.db') as con:
    con.sql(sql_query_import_1)
    con.sql(sql_query_import_2)

In [ ]:
c